.bar {
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    padding-top: 20px;
}

.bar rect {
    height: 21px;
}

.bar text {
    max-width: 20px;
}

/* grass starters colors */
.starterStats .bar:first-of-type rect:first-of-type {
    fill:greenyellow;
}
.starterStats .bar:first-of-type rect:nth-of-type(2) {
    fill:lawngreen;
}
.starterStats .bar:first-of-type rect:last-of-type {
    fill:green;
}

/* water startes colors */
.starterStats .bar:last-of-type rect:first-of-type {
    fill:aqua;
}
.starterStats .bar:last-of-type rect:nth-of-type(2) {
    fill:cornflowerblue;
}
.starterStats .bar:last-of-type rect:last-of-type {
    fill:blue;
}

/* fire starters colors */
.starterStats .bar:nth-of-type(2) rect:first-of-type {
    fill:orange;
}
.starterStats .bar:nth-of-type(2) rect:nth-of-type(2) {
    fill:orangered;
}
.starterStats .bar:nth-of-type(2) rect:last-of-type {
    fill:red;
}