body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .bar {
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    padding-top: 20px;
} */


#legenda #legendaTitel {
    font-weight: bold;
}

#diagram rect {
    border-left: 1px solid black;
}

.axis text {
    font-size: 13px;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

#toolTip {
	position: absolute;
	width: auto;
	height: auto;
	padding: 10px;
	font-weight: normal;
	background-color: white;
	-webkit-border-raadius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	align-items: center;
	text-align: center;
    border: 1px solid black;
}



.stackedBar {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
  }

  .stackedBar .axis path,
  .stackedBar .axis line {
    fill: none;
    stroke: #000;
  }
 
  .stackedBar path.domain {
    stroke: none;
  }
 
  .stackedBar .y .tick line {
    stroke: #ddd;
  }